name: Run Cypress Test

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Upload Python Package"]
    types:
      - completed
  push:
    branches:
      - next 

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4    
    - uses: actions/setup-java@v4
      with:
        distribution: 'corretto'
        java-version: '21'
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'    
        
  run-cypress-tests:
    name: Run Cypress Tests
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set environment variables for Cypress
      run: |
        echo "POSTGRES_CONNECTION_STRING=${{ secrets.POSTGRES_CONNECTION_STRING }}" >> $GITHUB_ENV
        echo "DATABRICKS_HOSTNAME=${{ secrets.DATABRICKS_HOSTNAME }}" >> $GITHUB_ENV
        echo "DATABRICKS_HTTP_PATH=${{ secrets.DATABRICKS_HTTP_PATH }}" >> $GITHUB_ENV
        echo "DATABRICKS_ACCESS_TOKEN=${{ secrets.DATABRICKS_ACCESS_TOKEN }}" >> $GITHUB_ENV

    - name: Add Python binaries to PATH
      run: echo "$HOME/.local/bin" >> $GITHUB_PATH
      
    - name: Cypress run
      uses: cypress-io/github-action@v6  
      with:
        working-directory: ./cypress    

  upload-artifacts:
    name: Upload Cypress Artifacts
    runs-on: ubuntu-latest
    needs: run-cypress-tests
    steps:
    
      - name: Check where pip installs packages
        run: |
          python -m site
        continue-on-error: true

      - name: List pip bin directory
        run: |
          ls -l $(python -m site --user-base)/bin
        continue-on-error: true

      - name: Locate dataforge
        run: |
          whereis dataforge
        continue-on-error: true

      - name: Check for dataforge
        run: |
          which dataforge
        continue-on-error: true

      - name: Checkout
        uses: actions/checkout@v4
        continue-on-error: true

      - name: Check if files exist
        run: |
          echo "Screenshots directory:"
          ls -l cypress/screenshots
          echo "Videos directory:"
          ls -l cypress/videos
        continue-on-error: true

      - uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots
          path: cypress/screenshots
          if-no-files-found: warn
      
