name: Run Cypress Test

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["Upload Python Package"]
    types:
      - completed
  push:
    branches:
      - next 

permissions:
  contents: read

jobs:
  run-cypress-tests:
    name: Run Cypress Tests
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
    - uses: actions/checkout@v4    
    - uses: actions/setup-java@v4
      with:
        distribution: 'corretto'
        java-version: '21'
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'    
        
    - name: Install setuptools and upgrade pip
      run: |
        python -m pip install --upgrade pip
        python -m pip install setuptools>=40.8.0

    - name: Set environment variables for Cypress
      run: |
        echo "POSTGRES_CONNECTION_STRING=${{ secrets.POSTGRES_CONNECTION_STRING }}" >> $GITHUB_ENV
        echo "DATABRICKS_HOSTNAME=${{ secrets.DATABRICKS_HOSTNAME }}" >> $GITHUB_ENV
        echo "DATABRICKS_HTTP_PATH=${{ secrets.DATABRICKS_HTTP_PATH }}" >> $GITHUB_ENV
        echo "DATABRICKS_ACCESS_TOKEN=${{ secrets.DATABRICKS_ACCESS_TOKEN }}" >> $GITHUB_ENV
    
    - name: Install dataforge-core in Cypress directory and capture logs
      run: |
        echo "Installing dataforge-core in Cypress directory..."
        cd ./cypress
        pip install -i https://test.pypi.org/simple/ dataforge-core==1.3.rc4
    
    - name: Cypress run
      uses: cypress-io/github-action@v6  
      with:
        working-directory: ./cypress
      continue-on-error: true

    - name: build dataforge-core
      run: |
        dataforge --build
      working-directory: ./cypress
      continue-on-error: true
      
    - uses: actions/upload-artifact@v4
      with:
        name: cypress-screenshots
        path: cypress/cypress/screenshots
        if-no-files-found: warn

    - uses: actions/upload-artifact@v4
      with:
        name: cypress-videos
        path: cypress/cypress/videos
        if-no-files-found: warn
