name: Test Run Dataforge Tests

on:
  workflow_dispatch:

jobs:
  run-tests-rc:
    runs-on: ubuntu-latest
    env:
      POSTGRES_CONNECTION_STRING: ${{ secrets.POSTGRES_CONNECTION_STRING }}
      DATABRICKS_HOSTNAME: ${{ secrets.DATABRICKS_HOSTNAME }}
      DATABRICKS_HTTP_PATH: ${{ secrets.DATABRICKS_HTTP_PATH }}
      DATABRICKS_ACCESS_TOKEN: ${{ secrets.DATABRICKS_ACCESS_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: ./.github/actions/run-tests
        with:
          install-command: >
            prerelease_tag=$(curl -s https://api.github.com/repos/${{ github.repository }}/releases | jq -r 'map(select(.prerelease == true)) | .[0].tag_name') &&
            if [ "$prerelease_tag" != "null" ]; then
              echo "The latest pre-release tag is: $prerelease_tag";
              pip install -i https://test.pypi.org/simple/ --extra-index-url https://pypi.org/simple/ dataforge-core==\"$prerelease_tag\";
            else
              echo "No pre-release found.";
              exit 1;
            fi
