name: Test Run Dataforge Tests

on:
  workflow_dispatch:

jobs:
  run-tests-prod:
    name: Run Tests (Prod Release)
    needs: publish-to-prodpypi
    if: ${{ success() && !github.event.release.prerelease }}
    runs-on: ubuntu-latest
    env:
      POSTGRES_CONNECTION_STRING: ${{ secrets.POSTGRES_CONNECTION_STRING }}
      DATABRICKS_HOSTNAME: ${{ secrets.DATABRICKS_HOSTNAME }}
      DATABRICKS_HTTP_PATH: ${{ secrets.DATABRICKS_HTTP_PATH }}
      DATABRICKS_ACCESS_TOKEN: ${{ secrets.DATABRICKS_ACCESS_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - uses: ./.github/actions/run-tests
        with:
          install-command: pip install dataforge-core
